.App {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px #3a9fc4;
    width: 1280px;

}

.App-intro {
    height: calc(100vh - 50px);
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.CategoryForm {
    margin: 20px;
}

.Categories {

}

.sidebar {
    width: 25%;
    box-sizing: content-box;
    height: 100%;
    overflow: auto;
    background: #434753;
    padding: 20px;
}

.content {
    width: 74%;
overflow: hidden;
    background: #f1f5f8;
    padding: 15px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 20px;
}

.App-header {
    background-color: #2196F3;
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    color: white;
}

.toggle-tasks {
    margin-left: auto;
    margin-right: 20px;
}

.App-header h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content-inner {
    background: white;
    color: black;
    padding: 20px;
    overflow: auto;
    height: 90%;
}


.content-inner .InputForm {

    text-align: right;

}
input[type='checkbox']{
    margin-right: 10px;
}
input[type='text'], textarea{
    padding-left: 5px;
}


.mdl-button {
    right: -5px;
}

textarea{
    width: 100%;
}
.search-tasks {
    line-height: 18px;
    width: 200px;
    height: 26px;
    color: white;
    position: relative;
    margin-left: 40px;
}
.fa-remove{
    top: 6px;
    right: 0;
    position: absolute;
}

.fa{
    cursor: pointer;
}
.search-tasks .search-input{
    padding-left: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
}
