.Category {
    line-height: 30px;
    cursor: pointer;
    color:  #2196F3;
    position: relative;
}
.child{
    margin-left: 20px;
}
.Category .fa {
    line-height: 30px;
    margin-left: 10px;
}

.Category .fa-plus, .Category .fa-trash-o {
    float: right;

}
.Category a{
    color: white;
    text-decoration: none;
    line-height: 30px;

}
.Category a:hover{
    color: white;
    text-decoration: none;
}
.Category a.active{
    color: red;
    text-decoration: none;
}
.Category ul{
    margin: 0;
    padding: 0;
    margin-left: 22px;
}
.Category .fa-caret-down{
    position: absolute;
    margin: 0;
    left: -13px;
}
.Category ul li{
    height: 25px;
}
/*
.Category:hover{
    color: white;
    text-decoration: none;
    background: rgba(33,150,243,.26);
}*/
.Category input[type='text']{
    color: #000;
}
