.Category {
    line-height: 30px;
    cursor: pointer;
    color:  #2196F3
}

.Category .fa {
    line-height: 30px;
    margin-left: 10px;
}

.Category .fa-plus, .Category .fa-trash-o {
    float: right;

}
.Category a{
    color: white;
    text-decoration: none;
    line-height: 30px;

}
.Category a:hover{
    color: white;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    margin-left: 22px;
}
ul li{
    height: 25px;
}
/*
.Category:hover{
    color: white;
    text-decoration: none;
    background: rgba(33,150,243,.26);
}*/
