.EditForm div{
    margin-bottom: 15px;
}
.inputText{
    width: 40%;
}

.buttons{
    text-align: right;
}
.buttons button{
    margin-left: 10px;
}
.buttons button a{
    text-decoration: none;
    color: white;
}
.EditForm textarea{
    padding: 10px;
    outline: 1px solid #2196F3;
}